.favorites {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favorites h1 {
    margin-bottom: 15px;
}

.favorites span {
    font-size: 18px;
}

.favorites ul {
    width: 720px;
}

.favorites ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.favorites div a {
    text-decoration: none;
    color: #116FEB;
    margin-right: 15px;
}

.favorites div button {
    padding: 5px;
    border: solid 2px #116FEB;
    background: white;
    font-weight: bold;
    color: #116FEB;
    cursor: pointer;
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    border-radius: 4px;
    transition: all 0.5s;
}

.favorites div button:hover {
    background: #116FEB;
    font-weight: bold;
    color: white;
    cursor: pointer;
}